body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select {
    margin: 0;
    padding: 0
}
blockquote {
    margin-block-start: 0em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 40px;
}
hr{
    color: #ded5d5;
    border: 1px dashed;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif;
  font-size: 16px;
  color: #333;
  line-height: 1.5;
}

code, kbd, samp{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Microsoft YaHei', sans-serif !important;
    padding: .1em .4em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(27,31,35,.05);
    color: #f77373;
}
.hljs{
    padding: 1.2em;
}
a {
    color: #2d374b;
    text-decoration: none
}

a:hover {
    color: blue;
    text-decoration: none
}

em {
    font-style: normal
}

li {
    list-style: none
}

img {
    border: 0;
    vertical-align: middle
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

p {
    word-wrap: break-word
}

input {
    outline: medium;
}

input::-webkit-input-placeholder{
    font-size: 14px;
}

#header {
    height: 70px;
    line-height: 70px;
    padding: 0 36px;
}

#nav-menu {
    float: left;
}


#logo-name {
    font-weight: bold;
    margin-right: 32px;
    font-size: 20px;
    color: #222;
}

#GTP{
    border: 1px solid #333;
    padding: 5px;
    position: fixed;
    right: 36px;
    font-size: 12px;
    bottom: 50px;
    background: #fff;
    cursor: pointer;
}


.m-tb-12{
    margin: 12px 0;
}

#nav-menu a {
    margin-right: 32px;
    color: #222;
}

#nav-menu a:hover {
    color: blue;
    text-decoration: none
}

.author{
    font-size: 12px;
    padding: 1px 3px;
    background: #72c7f9;
    border-radius: 5px;
    color: #fff;
}
.container {
    max-width: 1200px;
    padding: 0 36px;
    margin: 0 auto;
}

.site-name {
    float: left;
    line-height: 66px;
}
#logo-img {
    margin-right:32px;
}
#logo-img > img {
    max-height: 70px;
}

.side{
    overflow-y: auto;
}
.card{
    transition: all 0.25s;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #333;
    padding: 10px;
    margin: 0 20px 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.friend{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.card img {
	width:40px;
	height:40px;
	border-radius:50%
}
.card div {
	flex:1;
	padding-left:10px
}
 .card div h4 {
	font-size:15px
}
 .card div p {
	max-width:300px;
	color:#8f949e;
	font-size: 12px;
	margin: 0 !important;
}
.archives{
    border-bottom: 1px solid #dcdcdc;
    padding: 7px;
}
.site-search {
    float: right;
}
.info li span{
    font-size: 14px;
}
.post-meta {
    margin: 10px 0;
}

.tags a {
    color: #857857;
    font-size: 12px;
}
.post-meta li, .post-meta-m li , .tags{
    display: inline-block;
    font-size: 14px;
    margin-right: 28px;
}

.submit {
    cursor: pointer;
}
.submit-comment{
    float: right;
    border:1px solid #909090;
    background: none;
    cursor: pointer;
    color: #909090;
}
.submit, .text {
    border: 1px solid #222;
    background: none;
}
.textarea {
    transition: all 0.25s;
    resize: none;
    width: 100%;
    min-height: 150px;
    border: 1px solid #909090;
    border-radius: 3px;
}
.post h2 {
    font-weight: normal;
}
.relpy-content{
    position: relative;
}
.has-login{
    margin: 10px 0;
}
article,#comments{
    margin: 27px 0;
    padding: 0 27px;
}
.post{
   padding: 15px 15px 27px 0;
   border-bottom: 1px solid #ccc;
}
.post-content p a{
    color: #6092f5;
}
.open {
    display: none;
}

.site-title {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-title p {
    margin-top: 10px;
    font-size: 14px;
}

#footer, #footer a {
    text-align: center;
    font-size: 12px;
    color: #9195a3;
}

.footer-sidebar {
    display: none;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100%;
    top: 0;
    left: -250px;
    background-color: #fff;
    transition: all 0.5s;
    z-index: 998;
}

.search-m-box {
    width: 100%;
    height: 100px;
    position: fixed;
    top: -100px;
    left: 0;
    transition: all 0.5s;
    background: #fff;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-0{
    margin: 0 !important;
}

.opc {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
    display: none;
}

.post-meta-m, .search-m {
    display: none;
}

.post-contenxt p {
    line-height: 21px;
    color: #616161;
    font-size: 14px;
}

.post h1, .post .post-meta {
    text-align: center;
}

.post-content {
    margin: 27px 0;
}
.post-content > p{
    line-height: 24px;
}
.post-content > h2{
    border-bottom: 1px solid #cacaca;
    padding-bottom: 10px;
    margin-bottom: 10px;
} 

.post-content > h3{
    margin-bottom: 10px;
} 

.post-near {
    text-align-last: justify;
    padding: 0 27px;
}

.post-near li {
    display: inline-block;
}
.post-content blockquote,.post-content dl,.post-content ol,.post-content p,.post-content pre,.post-content table,.post-content ul {
	margin-bottom:16px
}
.post-content table {
	overflow:auto;
	width:100%
}
.post-content table th {
	font-weight:600
}
.post-content table td,.post-content table th {
    text-align: left;
	border:1px solid #dfe2e5;
	padding:6px 13px
}
.post-content table thead tr{
    background-color:#f6f8fa;
}
.post-content table tr {
	background-color:#fff;
	border-top:1px solid #c6cbd1
}
.post-content blockquote {
	border-left:0.25em solid #dfe2e5;
	color:#6a737d;
	padding:0 1em
}
.post-content blockquote >:first-child {
	margin-top:0
}
.post-content blockquote >:last-child {
	margin-bottom:0
}
.post-content > p > a > img{
    margin: 0 auto;
    display: block;
    max-width: 100%;
    max-height: 250px;
}
#comments h3{
    margin: 15px 0;
}
.comment-parent{
    margin-bottom: 27px;
    border: 1px solid #222;
    padding: 15px;
}
.comment-children{
    margin-top: 12px;
    border-top: 1px solid #999;
    padding-top: 11px;
}
.respond h3,.respond .cancel-comment-reply{
    display: inline-block;
}
.cancel-comment-reply{
    font-size: 12px;
}
.comment-input{
    display: inline-block;
}
.clearfix{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.comment-meta a{
    color: #8f949e;
    font-size: 14px;
}
.comment-reply{
    float: right;
}
.comment-content{
    margin: 10px 0;
    font-size: 14px;
}
.comment-content p{
    display: inline-block;
}
.text-l{
    text-align: left !important;
}
.comment-meta{
    margin-top: 5px;
}
.page-navigator{
    text-align: center;
}
.page-navigator li{
    display: inline-block;
    width: 35px;
    height: 20px;
    line-height: 20px;
    border: 1px solid #c3c3c3;
    color: #c3c3c3;
    padding: 5px;
    margin-right: 15px;
}
.page{
    margin: 15px 0;
}
.current a{
    width: 100%;
    height: 100%;
    display: inline-block;
}
.current{
    color: #222 !important;
    border: 1px solid #222 !important;
}
.current-m{
    color: blue !important;
}
#footer{
    height: 70px;
    margin-top: 35px;
}
@media screen and (max-width: 920px) {
    .container{
        padding: 0;
    }
    .widget-list li {
        margin-bottom: 10px;
    }
    .widget-title{
        padding-left: 25px;
    }
    .open, .close {
        display: inline-block;
        background: none;
        border: 1px solid #222;
        cursor: pointer;
    }

    #GTP{
        right: 15px;
    }

    .current{
        color: blue !important;
        border: none !important;
    }
    #header {
        display: none;
    }

    .app {
        padding: 15px;
    }

    .clearfix{
        flex-wrap: wrap;
    }
    .comment-input{
        margin-bottom: 5px;
    }
    .footer-sidebar {
        display: block;
        border-top: 1px solid #c3c3c3;
        position: absolute;
        bottom: 0;
        width: 92%;
        font-size: 14px;
        padding: 10px
    }
.site-title p{
    text-align: center;    
}
    .footer-sidebar li {
        display: inline-block;
        margin-right: 15px;
    }

    .header-sidebar {
        padding: 15px 0 15px 37px;
        border-bottom: 1px solid #c3c3c3;
    }

    .header-sidebar img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        margin-right: 12px;
    }

    .search-m {
        display: inline-block;
        float: right;
        background: none;
        border: 1px solid #222;
        cursor: pointer;
    }

    .close {
        border: 1px solid #000;
        margin: 15px 15px 15px 0;
        float: right;
    }

    .widget {
        margin: 20px 0;
    }

    .widget-list li {
        width: 100%;
        height: auto;
        text-align: center;
    }
    .category-parent{
        margin-bottom: 10px;
    }
    .category-child{
        font-size: 12px;
    }

    .post-meta li, .post-meta-m li , .tags{
        font-size: 12px;
        margin-right: 10px;
    }

    .post-meta .comment-p, .post-meta .category-p {
        display: none;
    }

    .post-meta-m {
        display: block;
        margin: 10px 0;
        text-align: end;
    }

    article ,.post-near,#comments{
        padding: 0;
    }
}
